	/*
	Document   : main_css
	Created on : 12.08.2013, 15:56:15
	Author     : Ирина
	Description:
		Purpose of the stylesheet follows.
	*/
	/* 1. Global Reset
	-----------------------------------------------------------------------------------------------*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
			display: block;
	}
		body {
			line-height: 1;
	}
	a{
			outline: none;
	}
	ol, ul {
			list-style: none;
	}
	blockquote, q {
			quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
			content: '';
			content: none;
	}
	table {
			border-collapse: collapse;
			border-spacing: 0;
	}
	caption, th, td {
			text-align: left;
			font-weight: normal;
	}
	h1, h2, h3, h4, h5, h6 {
			font-weight:normal;
	}
	/*End 1. Global Reset*/

	/*---------------------COMMON CLASSES----------*/
		/*----Fonts-----------------*/
		@font-face{
			font-family: DSCoptic;
			src: url(/fonts/DSCOPTIC.TTF);
		}
		.menu-links li, .date, .date-bigger, .title, .title-bigger, .signature, .concert-name{
			font-family: DSCoptic;
		}

		/*----Color presets-----------------*/
		.menu-block, .menu-links, .footer, .out-links, .last-news, .nearrest-concert-block{
			border-top: solid 1px #f1eeec;
		}
		.menu-block, .menu-links, .footer, .out-links, .last-news, .nearrest-concert-block, .field-bg {
			background-color: rgba(235, 235, 242, 0.7);
		}
		.main-page-photo, .date, .menu-block, .menu-links, .footer, .out-links, .last-news, .nearrest-concert-block, .field-bg{
			box-shadow: 1px 1px 5px 0 #696046;
		}
		a, .title, .title-bigger, .menu-links, .menu-links a, .footer, .date-bigger, .signature, .concert-name, .concert-place{
			color: #872300;
		}

		a:hover, a:active{
			color: #756d34;
		}
		/*----Links design-----------------*/
		p a{
			text-decoration: underline;
		}
		p a:hover, p a:active{
			text-decoration: none;
		}
		/*----Special blocks design-----------------*/
		.date, .date-bigger{
			text-align: center;
			letter-spacing: 1px;
			background: #872300;
			color: #ebebf2;
		}
		.date{
			display: block;
			width: 53px;
			height:40px;
			padding-top: 13px;
			font-size: 12px;
			line-height: 11pt;
		}
		.date-bigger{
			width: 85px;
			float: right;
			margin: 0px 0px 32px 32px;
		}
		/*----Titles-----------------*/
		.title, .title-bigger{
			margin-bottom: 21px;
		}
		.title{
			font-size: 14px;
		}
		.title-bigger{
			font-size: 16px;
		}

		/*----Common position and text position classes-----------------*/
		.center-margin{
			margin: 0px auto;
		}
		.text-center{
			text-align: center;
		}

	/*-------------LAYOUT----------------------------------------------------------------*/
	body{
		background-size: 100%;
		-moz-background-size: 100%; /* Firefox 3.6+ */
		-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
		-o-background-size: 100%; /* Opera 9.6+ */
		background: url('/img/fon.jpg') no-repeat fixed center center / cover #872300;
	}

	/*hack for stricky Footer by Ryan Fait*/
		html, body {
			height: 100%;
			color: #322f2d;
			font-family: Trebuchet MS, Verdana, sans-serif;
		}
		.wrapper {
			min-height: 100%;
			height: auto !important;
			height: 100%;
			margin: 0 auto -24px;
		}
		.push {
			height: 24px;
		}
	/*end hack-----------------------------*/
	p{
		margin: 3px 0px 6px;
	}

	a{
		text-decoration: none;
	}
	a p{
		color: #322f2d;
	}
	/*---Common layout classes---------------------------------*/
		.header, .menu-links, .band-photo{
			margin: 0px auto;
			width: 898px;
			padding-left: 21px;
			padding-right: 21px;
		}

	/*---END Common classes----------------------------*/

	/*---Header---------------------------------*/
		.header{
			padding-top: 12px;
		}
		.logo{
			position: relative;
			z-index: 2;
			display: inline-block;
			margin-bottom: -21px;
		}
		.out-links-block{
			margin-right: 21px;
			margin-top: 18px;
			float: right;
		}
		.out-links{
			display: inline-block;
			margin-left: 8px;
			width: 43px;
			height: 42px;
			border-radius: 22px;
		}

		/*--menu--*/
			.menu-block{
				background: url('/img/bg-menu.png') repeat-x;
				height: 52px;
			}
			.menu-links{
			 /* сделать совместимость с ие*/
				height: 100%;
				 position: relative;
				z-index: 1;
				text-align: justify;
			}
			/*--Inline justify hack------*/
			.menu-links:after, .band-photo:after{
				content: "";
				width: 100%;
				display: inline-block;
			}
			.menu-links li{
				margin-top: 22px;
				display: inline-block;
				font-size: 14px;
			}
			.menu-links a{
				text-decoration: none;
			}

	/*---Content------------*/
		.content{
			width: 940px;
			margin: 0px auto;
		}

	/*--END-Content------------*/

	/*---Footer------------*/
		.footer{
			height: 23px;
		}

	/*-------------END LAYOUT----------------------------------------------------------------*/

	/*-------------CONTENT-------------------------------------------------------------------*/

		.main-page-photo, .band-photo img{

		}

		/*---Main page------------------------------*/
			.main-page-photo{
				display: block;
				margin-bottom: 32px;
				border: 1px solid #132d20;
			}

			/*--news--*/
				.last-news{
					width: 335px;
					height: 273px;
					margin-left: 9px;
					padding: 21px 11px 11px;
					text-align: justify;
				}
				.last-news-date{
					float: left;
					margin: -30px 11px 11px -20px;
				}

			/*--concert--*/
				.nearrest-concert{
					width: 335px;
					float: right;
					margin-right: 9px;
				}
				.nearrest-concert-block{

				}
				.nearrest-concert-date{
					float: right;
					margin-top: -9px;
					margin-right: -9px;
				}
				.nearrest-concert-place{
					margin-left: 32px;
					margin-top: 11px;
				}

			/*--music--*/
				.music{
					margin-top: 32px;
					width: 335px;
					float: right;
				}

				.music-cover{
					margin: -26px 0px 0px 11px;
					width: 84px;
					height: 84px;
				}
				.music-player{
					width:228px;
					margin-top: 11px;
					float: right;
				}

		/*---END Main page------------------------------*/

		.field-bg{
			padding: 32px 21px 32px;
			text-align: justify;
		}
		/*---News page------------------------------*/

		.date-news{
			height:58px;
			padding-top: 27px;
			line-height: 14pt;
		}
		.signature{
			text-align: right;
			font-size: 14px;
		}

		/*---END News page------------------------------*/

		/*---Concert page------------------------------*/
			.concert-block{
				min-height: 85px;
				margin-bottom: 21px;
			}
			.concert-name{
				margin-bottom: 11px;
				font-size: 13px;
			}
			.concert-place{
				margin-left: 32px;
				margin-bottom: 11px;
				font-size: 17px;

			}

			.date-concert{
				height:71px;
				padding-top: 14px;
				font-size: 13px;
				line-height: 13pt;
			}
			.date-concert .time{
				margin-top: 9px;
			}
		/*---END Concert page------------------------------*/

		/*---Band page------------------------------*/
			.band-photo{
				margin: 32px 0px 21px;
				text-align: justify;
			}
		/*---END Band page------------------------------*/