	/*
	Document   : main_css
	Created on : 12.08.2013, 15:56:15
	Author     : Ирина
	Description:
		Purpose of the stylesheet follows.
	*/
	/* 1. Global Reset
	-----------------------------------------------------------------------------------------------*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
			display: block;
	}
		body {
			line-height: 1;
	}
	a{
			outline: none;
	}
	ol, ul {
			list-style: none;
	}
	blockquote, q {
			quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
			content: '';
			content: none;
	}
	table {
			border-collapse: collapse;
			border-spacing: 0;
	}
	caption, th, td {
			text-align: left;
			font-weight: normal;
	}
	h1, h2, h3, h4, h5, h6 {
			font-weight:normal;
	}
	/*End 1. Global Reset*/

	/*---------------------COMMON CLASSES AND TAGS----------*/
		p{
			margin: 3px 0px 8px;
			text-indent: 21px;
			line-height: 14pt;
		}

		hr{
			margin: 32px 0px;
		/*	color: rgba(135,35,0, 0.4);*/
		/*	color: rgba(105,69,70, 0.3);*/
			color: rgba(235,235,242, 0.5);
			clear: both;
		}
		/*----Fonts-----------------*/
		@font-face{
			font-family: DSCoptic;
			src: url(/fonts/DSCOPTIC.TTF);
		}
		.menu-links li, .date, .date-bigger, .title, .title-bigger, .title-contacts, .title-page-name, .signature, .concert-name, .old-concert-headding{
			font-family: DSCoptic;
		}

		/*----Common color presets-----------------*/
		.menu-block, .menu-links, .footer, .out-links, .last-news, .nearrest-concert{
			border-top: solid 1px #f1eeec;
		}
		.menu-links, .footer-block, .last-news, .nearrest-concert, .field-bg, .out-links:hover, .last-news:hover, .nearrest-concert:hover{
			background-color: rgba(235, 235, 242, 0.8);
		}
		.last-news, .nearrest-concert{
			background-color: rgba(235, 235, 242, 0.75);
		}

		.main-page-photo, .date, .menu-block, .menu-links, .footer, .footer-block, .out-links, .last-news, .nearrest-concert, .field-bg{
			box-shadow: 1px 1px 5px 0 #696046;
		}
		a, .title, .band-photo figcaption, .title-bigger, .titile-em,.title-contacts, .title-page-name, .menu-links a, .footer, .date-bigger, .signature, .old-concert-headding, .concert-name, .concert-place{
			color: #872300;/*brown*/
		}

		a:hover, a:active, a p:hover{
			color: #696046; /*green*/
		}
		a p{
			color: #322f2d; /*dark green*/
		}
		/*----Links design-----------------*/

		a{
			text-decoration: none;
		}
		p a{
			text-decoration: underline;
		}
		p a:hover, p a:active{
			text-decoration: none;
		}
		/*----Special blocks design-----------------*/
		.menu-block, .footer{
				background: url('/img/bg-menu.png') repeat-x;
		}

		.header, .menu-links, .footer-block{
			margin: 0px auto;
			width: 898px;
			padding-left: 21px;
			padding-right: 21px;
		}

		.date, .date-bigger{
			text-align: center;
			letter-spacing: 1px;
			background: #872300;
			color: #ebebf2;
		}
		.date{
			display: block;
			width: 53px;
			height:40px;
			padding-top: 13px;
			font-size: 12px;
			line-height: 11pt;
		}
		.date-bigger{
			width: 85px;
			float: right;
			margin: 0px 0px 21px 32px;
		}
		/*----Common Titles-----------------*/
		.title, .title-bigger{
			margin-bottom: 21px;
		}
		.title, .title-contacts, .title-page-name, .old-concert-headding{
			font-size: 14px;
		}
		.title-bigger{
			font-size: 16px;
		}
		.titile-em{
			font-size: 17px;
			line-height: 17pt;
		}

		.title-page-name{
			margin-top: 10px;
			margin-bottom: 28px;
		}

		/*----Common position and text position classes-----------------*/
		.center-margin{
			margin: 0px auto;
		}
		.text-center{
			text-align: center;
		}

	/*-------------LAYOUT----------------------------------------------------------------*/
	body{
		background: url('/img/fon.jpg') no-repeat fixed center top #756d34;
	}

	/*hack for stricky Footer by Ryan Fait*/
		html, body {
			height: 100%;
			color: #322f2d;
			font-family: Trebuchet MS, Verdana, sans-serif;
		}
		.wrapper {
			min-height: 100%;
			height: auto !important;
			height: 100%;
			margin: 0 auto -24px;
		}
		.push {
			height: 24px;
		}
	/*end hack-----------------------------*/

	/*---Header---------------------------------*/
		.header{
			padding-top: 12px;
		}
		.logo{
			position: relative;
			z-index: 2;
			display: inline-block;
			margin-bottom: -21px;
		}
		.out-links-block{
			margin-top: 36px;
			float: right;
		}
		.out-links{
			display: inline-block;
			margin-left: 8px;
			width: 32px;
			height: 31px;
			border-radius: 16px;
		}
		.out-link-youtube{
			background: url(/img/sprite.png) 0px 0px, rgba(235, 235, 242, 0.7) no-repeat;
		}
		.out-link-vk{
			background: url(/img/sprite.png) 96px 0px, rgba(235, 235, 242, 0.7) no-repeat;
		}
		.out-link-kroogi{
			background: url(/img/sprite.png) 63px 0px, rgba(235, 235, 242, 0.7) no-repeat;
		}
		.out-link-myspace{
			background: url(/img/sprite.png) 32px 0px, rgba(235, 235, 242, 0.7) no-repeat;
		}

		/*--menu--*/
			.menu-block{
				height: 52px;
			}
			.menu-links{
			 /* сделать совместимость с ие*/
				height: 100%;
				 position: relative;
				z-index: 1;
				text-align: justify;
			}
			/*--Inline justify hack------*/
			.menu-links:after, .band-photo:after{
				content: "";
				width: 100%;
				display: inline-block;
			}
			.menu-links li{
				margin-top: 22px;
				display: inline-block;
				font-size: 14px;
			}
			.menu-links a{
				text-decoration: none;
			}

	/*---Content------------*/
		.content{
			width: 940px;
			margin: 0px auto;
		}

	/*--END-Content------------*/

	/*---Footer------------*/
		.footer{
			height: 23px;
		}
		.footer-block{
			height: 100%;
		}

	/*-------------END LAYOUT----------------------------------------------------------------*/

	/*-------------CONTENT-------------------------------------------------------------------*/

		/*---Main page------------------------------*/
			.main-page-photo{
				display: block;
				margin-bottom: 32px;
				border: 1px solid #132d20;
			}

			.last-news, .nearrest-concert{
				width: 309px;
				padding: 21px;
			}
			/*--news--*/
				.last-news{
					height: 273px;
					position: relative;
					display: inline-block;
					margin-left: 9px;
					text-align: justify;
				}
				.last-news-date{
					float: left;
					margin: -30px 11px 11px -31px;
				}
				.last-news-decor{
					width: 22px;
					height: 45px;
					position: absolute;
					right: -22px;
					top: -1px;
					background: url(/img/sprite.png) 0px -32px no-repeat;

				}

			/*--concert--*/
				.nearrest-concert{
					position: relative;
					float: right;
					margin-right: 9px;
				}
				.nearrest-concert-date{
					float: right;
					margin: -30px -31px 11px 11px ;
				}
				.nearrest-concert-place{
					margin-left: 32px;
				}
				.nearrest-concert-decor{
					width: 22px;
					height: 45px;
					position: absolute;
					left: -22px;
					top: -1px;
					background: url(/img/sprite.png) -22px -32px no-repeat;
				}

			/*--music--*/
				.music{
					margin-top: 32px;
					width: 335px;
					float: right;
				}

				.music-cover{
					margin: -26px 0px 0px 11px;
					width: 84px;
					height: 84px;
				}
				.music-player{
					width:228px;
					margin-top: 11px;
					float: right;
				}

		/*---END Main page------------------------------*/

		.field-bg{
			padding: 32px;
			text-align: justify;
		}

		.concert-block, .news-block{
				min-height: 85px;
			}

		/*---News page------------------------------*/
			.date-news{
				height:58px;
				padding-top: 27px;
				line-height: 14pt;
			}
			.signature{
				margin-right: 11px;
				text-align: right;
				font-size: 14px;
			}

		/*---END News page------------------------------*/

		/*---Concert page------------------------------*/
			.old-concert-headding{
				margin-bottom: 41px;
			}
			.concert-name{
				margin-bottom: 11px;
				font-size: 13px;
			}
			.concert-place{
				margin-left: 21px;
				margin-bottom: 11px;
				font-size: 17px;
			}

			.concert-place, .concert-link, .concert-ticets{
		/*		margin-left: 21px;*/
			}

			.date-concert{
				height:71px;
				padding-top: 14px;
				font-size: 13px;
				line-height: 13pt;
			}
			.date-concert .time{
				margin-top: 9px;
			}
		/*---END Concert page------------------------------*/

		/*---Band page------------------------------*/
			.band-photo{
				margin: 0px 0px 21px;
				text-align: justify;
			}
			.band-photo figure{
				display: inline-block;
				text-align: center;
			}
			.band-photo figcaption{
				margin-bottom: 11px;
				font-weight: bold;
			}
		/*---END Band page------------------------------*/

		/*---Video page------------------------------*/
			.video-block .video{
				text-align: center;
			}
			.video-block h3{
				margin-bottom: 21px;
			}
		/*---END Video page------------------------------*/

		/*---Contact page------------------------------*/
			.title-contacts{
				margin-top: 32px;
				margin-bottom: 21px;
			}
			.forign-contact{
				margin-left: 11px;
			}
		/*---END Contact page------------------------------*/