	/*
	Document   : main_css
	Created on : 12.08.2013, 15:56:15
	Author     : Ирина
	Description:
		Purpose of the stylesheet follows.
	*/
	/* 1. Global Reset
	-----------------------------------------------------------------------------------------------*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
			display: block;
	}
		body {
			line-height: 1;
	}
	a{
			outline: none;
	}
	ol, ul {
			list-style: none;
	}
	blockquote, q {
			quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
			content: '';
			content: none;
	}
	table {
			border-collapse: collapse;
			border-spacing: 0;
	}
	caption, th, td {
			text-align: left;
			font-weight: normal;
	}
	h1, h2, h3, h4, h5, h6 {
			font-weight:normal;
	}
	/*End 1. Global Reset------------------------------*/

	/*---------------------COMMON CLASSES AND TAGS----------*/
		html, body {
			height: 100%;
			font-family: Trebuchet MS, Verdana, sans-serif;
		}

		p{
			margin: 3px 0px 8px;
			text-indent: 21px;
			line-height: 14pt;
		}

		hr{
			margin: 21px 0px;
			color: rgba(235,235,242, 0.5);
			clear: both;
		}

		label{
			cursor: pointer;
			vertical-align: middle;
		}

		input, .guest-form .message{
			margin-bottom: 11px;
		}

		.hide{
			display: none;
		}

		.error{
			text-align: center;
			margin: 11px 0px;
			font-weight: bold;

		}
		/*----Fonts-----------------*/
		@font-face{
			font-family: DSCoptic;
			src: url('/fonts/DSCOPTIC.eot?') format('eot'),
			url('/fonts/DSCOPTIC.woff') format('woff'),
			url('/fonts/DSCOPTIC.ttf') format('truetype'),
			url('/fonts/DSCOPTIC.svg#DSCoptic') format('svg');
		}
		.menu-links li, .date, .date-news, .title, .title-bigger, .title-contacts,
		.title-page-name,.nearrest-concert-title, .signature, .concert-name,
		.old-concert-headding, .date-concert, .date-concert-old, .title-album,
		.guest-button, .guest-form .submit, .donate{
			font-family: DSCoptic;
		}

		/*----Common color presets-----------------*/
		html, body, a p {
			color: #322f2d; /*dark green*/
		}
		.error{
			color:#a61300;/*red*/
		}
		a, .title, .nearrest-concert-title, .band-photo figcaption, .title-bigger,
		.title-em,.title-contacts, .title-page-name, .menu-links a, .footer,
		.date-news, .signature, .old-concert-headding, .concert-name,
		.concert-place, .title-album, .album-year, .guest-post header,
		.guest-post a:hover, .album-desc .list span, .donate,
		.concert-ticets .ticets{
			color: #872300;/*brown*/
		}
		a:hover, a:active, a p:hover, .guest-post a{
			color: #696046; /*light green*/
		}
		.date, .date-news, .date-concert, .date-concert-old, .guest-button,
		.guest-form .submit, .music-title, .jp-no-solution, .jp-no-solution a{
			color: #ebebf2; /*light grey*/
		}


		.out-link-youtube, .out-link-vk, .out-link-kroogi, .out-link-myspace,
		.donate, a.jp-play, a.jp-pause{
			background: rgba(235, 235, 242, 0.7); /*light grey*/
		}
		.menu-links, .footer-block, .field-bg,
		.out-links:hover, .last-news:hover, .nearrest-concert:hover,
		.donate:hover, a.jp-play:hover, a.jp-pause:hover{
			background: rgba(235, 235, 242, 0.8); /*light grey*/
		}
		.last-news, .nearrest-concert{
			background: rgba(235, 235, 242, 0.75); /*light grey*/
		}
		.music-title{
			background-color: rgba(105, 96, 70, 0.8); /*light green*/
		}
		.date, .date-news, .date-concert, .guest-button, .guest-form .submit,
		.jp-no-solution{
			background-color: #872300; /*brown*/
		}
		.date-concert-old{
			background-color:#cac0bd; /*light brown*/
		}

		.menu-block, .menu-links, .footer, .out-links, .last-news,
		.nearrest-concert, .donate, a.jp-play, a.jp-pause{
			border-top: solid 1px #f1eeec; /*grey*/
		}

		.main-page-photo, .date, .menu-block, .menu-links,
		.footer-block, .out-links, .last-news, .nearrest-concert, .field-bg,
		.guest-button, .guest-form .submit, .donate, a.jp-play, a.jp-pause{
			box-shadow: 1px 1px 5px 0 #696046;
			-webkit-box-shadow: 1px 1px 5px 0 #696046;
			-moz-box-shadow: 1px 1px 5px 0 #696046;
		}

		/*----Links design-----------------*/

		a{
			text-decoration: none;
		}
		p a, .guest-post a:hover, .jp-no-solution a{
			text-decoration: underline;
		}
		p a:hover, p a:active, .jp-no-solution a:hover, .jp-no-solution a:active{
			text-decoration: none;
		}

		/*----Special blocks design-----------------*/
		.menu-block, .footer{
			background: url('/img/bg-menu.png') repeat-x;
		}

		.menu-links, .footer-block{
			margin: 0px auto;
			width: 898px;
			padding-left: 21px;
			padding-right: 21px;
		}

		.date, .date-news, .date-concert, .date-concert-old{
			text-align: center;
			letter-spacing: 1px;
		}
		.date{
			display: block;
			width: 53px;
			height:40px;
			padding-top: 13px;
			font-size: 12px;
			line-height: 11pt;
		}
		.date-news, .date-concert, .date-concert-old{
			width: 85px;
			float: right;
			margin: 0px 0px 21px 32px;
		}
		/*----Common Titles-----------------*/
		.title, .title-bigger{
			margin-bottom: 21px;
		}
		.title, .title-contacts, .title-page-name, .old-concert-headding,
		.title-album, .guest-post-button, .guest-form .submit{
			font-size: 14px;
			line-height: 21px;
		}
		.title-bigger, .nearrest-concert-title{
			font-size: 16px;
		}
		.title-em, .nearrest-concert-place{
			font-size: 17px;
			line-height: 17pt;
		}

		.title-page-name{
			margin-top: 10px;
			margin-bottom: 28px;
		}

		.band-photo figcaption, .album-year{
			font-weight: bold;
		}
		/*----Common position and text position classes-----------------*/
		.center-margin{
			margin: 0px auto;
		}
		.text-center{
			text-align: center;
		}

	/*-------------LAYOUT-----------------------------------------------------*/
	body{
		background: url('/img/fon.jpg') no-repeat fixed center top #756d34;
	}

	/*hack for stricky Footer by Ryan Fait*/

		.wrapper {
			min-height: 100%;
			height: auto !important;
			height: 100%;
			margin: 0 auto -24px;
		}
		.push {
			height: 24px;
		}
	/*end hack-----------------------------*/

	/*---Header---------------------------------*/
		.header{
			margin: 0px auto;
			width: 919px;
			padding-top: 12px;
			padding-left: 21px;
		}
		.logo{
			position: relative;
			z-index: 2;
			display: inline-block;
			margin-bottom: -21px;
		}

		.out-links-block, .donate{
			margin-top: 36px;
			float: right;
		}
		.out-links{
			display: inline-block;
			margin-top: 1px;
			margin-left: 5px;
			width: 32px;
			height: 29px;
			border-radius: 16px;
			-webkit-border-radius: 16px;
			-moz-border-radius: 16px;
		}
		.out-link-youtube{
			background-image: url(/img/sprite.png);
			background-position: 0px 0px;
			background-repeat: no-repeat;
		}
		.out-link-vk{
			background-image: url(/img/sprite.png);
			background-position: -32px 0px;
			background-repeat: no-repeat;
		}
		.out-link-kroogi{
			background-image: url(/img/sprite.png);
			background-position: -65px 0px;
			background-repeat: no-repeat;
		}
		.out-link-myspace{
			background-image: url(/img/sprite.png);
			background-position: -96px 0px;
			background-repeat: no-repeat;
		}

		.donate{
			height: 22px;
			padding: 9px 11px 0px;
			margin-left: 32px;
			font-size: 11px;
			border-radius: 16px;
		}
		/*--menu--*/
			.menu-block{
				height: 52px;
			}
			.menu-links{
			 /* сделать совместимость с ие*/
				height: 100%;
				position: relative;
				z-index: 1;
				text-align: justify;
				text-align-last: justify;
			}
			/*--Inline justify hack------*/
			.menu-links:after, .band-photo:after{
				content: "";
				width: 100%;
				display: inline-block;
			}
			.menu-links li{
				margin-top: 22px;
				display: inline-block;
				text-align: center;
				font-size: 14px;
			}
			.menu-links a{
				text-decoration: none;
			}

	/*---Content------------*/
		.content{
			position: relative;
			width: 940px;
			margin: 0px auto;
		}

	/*--END-Content------------*/

	/*---Footer------------*/
		.footer{
			height: 23px;
		}
		.footer-block{
			height: 100%;
		}

	/*-------------END LAYOUT-------------------------------------------------*/


	/*-------------CONTENT----------------------------------------------------*/

		/*---Autorisation---------------------------*/
			.login-form .login, .login-form .pass{
				width: 137px;
			}
			.auth-login{
				margin-right: 7pt;
			}
			.login-form .submit{
				width: 85px;
				margin-left: 11px;
			}

		/*---END Autorisation-----------------------*/

		/*---Main page------------------------------*/
			.main-page-photo{
				display: block;
				margin-bottom: 32px;
				border: 1px solid #132d20;
			}

			.last-news, .nearrest-concert{
				width: 309px;
				padding: 21px;
			}
			/*--news--*/
				.last-news{
					height: 273px;
					position: relative;
					display: inline-block;
					margin-left: 9px;
					text-align: justify;
				}
				.last-news-date{
					float: left;
					margin: -30px 21px 11px -31px;
				}
				.last-news-decor{
					width: 22px;
					height: 45px;
					position: absolute;
					right: -22px;
					top: -1px;
					background: url(/img/sprite.png) 0px -32px no-repeat;
				}

			/*--concert--*/
				.nearrest-concert{
					float: right;
					display: inline-block;
					position: relative;
					margin-right: 9px;
				}
				.nearrest-concert-date{
					float: right;
					margin: -30px -31px 11px 21px ;
				}
				.nearrest-concert-title{
					margin-left: 40px;
					margin-bottom: 18px;
				}
				.nearrest-concert-decor{
					width: 22px;
					height: 45px;
					position: absolute;
					left: -22px;
					top: -1px;
					background: url(/img/sprite.png) -22px -32px no-repeat;
				}
			.right{
				width: 327px;
				float: right;
			}
			/*--music--*/
				.music{
					width: 327px;
					float: right;
					margin: 42px 0px 0px;
				}
				.music-title{
					height: 23px;
					width: 245px;
					float: left;
					padding-top: 2px;
					margin-top: 26px;
					margin-left: 73px;
				}
				.jp-stop, .jp-mute, .jp-unmute, .jp-volume-max, .jp-progress,
				.jp-volume-bar, .jp-time-holder, .jp-title {
					display: none !important;
				}
				div.jp-interface ul.jp-controls a {
					display:block;
				}
				.jp-no-solution{
					width: 94%;
					margin-top: 21px;
					padding: 5px;
				}


				a.jp-play, a.jp-pause {
					position: relative;
					border-radius: 38px;
					width:75px;
					height:74px;
					z-index: 2;
				}

				a.jp-play {
					background-image: url(/img/sprite.png);
					background-position: 0px -77px;
					background-repeat: no-repeat;
				}
				a.jp-play:hover {
					background-image: url(/img/sprite.png);
					background-position: 0px -152px;
					background-repeat: no-repeat;
				}
				a.jp-pause {
					display: none;
					background-image: url(/img/sprite.png);
					background-position: -75px -77px;
					background-repeat: no-repeat;
				}
				a.jp-pause:hover {
					display: none;
					background-image: url(/img/sprite.png);
					background-position: -75px -152px;
					background-repeat: no-repeat;
				}

		/*---END Main page------------------------------*/

		.field-bg{
			padding: 32px;
			text-align: justify;
		}

		.concert-block, .news-block{
				min-height: 85px;
			}

		/*---News page------------------------------*/
			.date-news{
				height:61px;
				padding-top: 24px;
				line-height: 14pt;
			}
			.signature{
				margin-right: 11px;
				text-align: right;
				font-size: 14px;
			}

		/*---END News page------------------------------*/



		/*---Concert page------------------------------*/
			.old-concert-headding{
				margin-bottom: 41px;
			}
			.concert-name{
				margin-bottom: 11px;
				font-size: 13px;
			}
			.concert-place{
				margin-left: 21px;
				margin-bottom: 11px;
				font-size: 17px;
			}

			.concert-place, .concert-link, .concert-ticets{
		/*		margin-left: 21px;*/
			}

			.date-concert, .date-concert-old{
				height:71px;
				padding-top: 14px;
				font-size: 13px;
				line-height: 13pt;
			}
			.date-concert .time, .date-concert-old .time{
				margin-top: 9px;
			}
		/*---END Concert page------------------------------*/



		/*---Band page------------------------------*/
			.band-photo{
				margin: 0px 0px 21px;
				text-align: justify;
				text-align-last: justify;
			}
			.band-photo figure{
				display: inline-block;
				text-align: center;
			}
			.band-photo figcaption{
				margin-bottom: 11px;
			}
		/*---END Band page------------------------------*/



		/*---Audio page------------------------------*/
			.player{
					visibility: hidden;
					float: right;
					margin-top: -32px;
				}

			.title-album{
				margin-bottom: 9px;
			}
			.album-year{
				display: block;
				margin-bottom: 21px;
			}
			.album-cover{
				float: right;
				margin: 0px 0px 32px 32px;
			}

			.album-desc .list{
				margin: 11px 0px 11px 53px;
			}
			.album-desc .list li{
				margin-bottom: 9px;
			}

			.audio-list{
				margin-bottom: 21px;
			}
			.audio-list li{
				margin: 0px 0px 11px 32px;
			}
			.song-text{
				margin: 11px 0px 11px 53px;
			}

			.play, .stop{
				width: 13px;
				height: 13px;
				float: left;
				margin: 2.2pt 11px 0px 0px;
				cursor: pointer;
			}
			.play{
				background: url(/img/sprite.png) -70px -32px no-repeat;
			}
			.stop{
				background: url(/img/sprite.png) -57px -32px no-repeat;
			}
			.play:hover{
				background: url(/img/sprite.png) -44px -32px no-repeat;
			}
			.stop:hover{
				background: url(/img/sprite.png) -83px -32px no-repeat;
			}
		/*---END Audio page------------------------------*/



		/*---Video page------------------------------*/
			.video-block .video{
				text-align: center;
			}
			.video-block .video-title{
				margin-bottom: 21px;
			}
		/*---END Video page------------------------------*/



		/*---Guest book page------------------------------*/
			.guest-button{
				float: right;
				width: 137px;
				height: 34px;
				padding: 19px 21px 0px;
				margin-bottom: 32px;
				cursor: pointer;
				text-align: center;
			}

			.guest-post .name{
				margin-right: 5px;
			}
			.guest-post .city{
				margin-right: 3px;
			}
			.guest-post .email, .guest-post .site{
				margin-left: 9px;
			}
			.guest-post header{
				margin-bottom: 11px;
			}
			.guest-post time{
				float: right;
			}


			.guest-form input{
				width: 359px;
				margin-left: 9px;
			}
			.guest-form .message{
				width: 100%;
				height: 137px;
				margin: 9px 0px 21px;
			}
			.guest-recaptcha{
				display: inline-block;
			}
			.guest-form .submit{
				width: 137px;
				vertical-align: bottom;
				margin: -11px 0px 3px 21px;
				padding: 5px 0px;
				border: none;
			}
		/*---END Guest book page------------------------------*/



		/*---Contact page------------------------------*/
			.title-contacts{
				margin-top: 32px;
				margin-bottom: 21px;
			}
			.forign-contact{
				margin-left: 11px;
			}
		/*---END Contact page------------------------------*/